<header class="flex justify-between p-2 items-center border-b border-gray-300">
  <a href="/">

    <div class="flex items-center h-14">
      <img src="popranklogo.png" class="h-14" alt="" />
      <p class="font-bold text-blue-600 text-xl">Pop Rank</p>
    </div>

  </a>
  <nav>
    <ul class="flex gap-4 font-medium text-normal lg:text-lg ">
      <li
        class="flex items-center justify-center border rounded-xl border-transparent bg-blue-600 text-white hover:border-blue-600 hover:bg-white hover:text-blue-600 active:bg-blue-600 cursor-pointer"
      >
        <a href="/leaderboard" class="h-full w-full p-2">Leaderboards</a>
      </li>
      <li
        class="flex items-center justify-center border rounded-xl border-transparent bg-blue-600 text-white hover:border-blue-600 hover:bg-white hover:text-blue-600 active:bg-blue-600 cursor-pointer"
      >
        <a href="/search" class="h-full w-full p-2">Search</a>
      </li>
    </ul>
  </nav>
</header>
