<main>
  <app-header></app-header>
  <section class="container mx-auto flex flex-col items-center justify-center min-h-[calc(100svh-100px)]">
    <section class="text-center">
      <h1 class="text-xl">
        <span class="text-blue-600 font-bold text-2xl">
          Pop Rank
        </span>
        - University Popularity
      </h1>
      <div class="mt-4">
        <p class="text-xl">Where we rank students based on Popularity</p>
      </div>
    </section>
    <section>
      <div class="flex w-[100svw] justify-center lg:h-[500px] min-h-[200px] lg:min-h-0 h-auto mt-4 gap-4">
          @if (!this.loading) {
            <img [src]="match?.student1?.Image" class="object-cover rounded-xl cursor-pointer" (click)="matchWin(this.match?.student1!.ID,this.match?.student2!.ID,this.match?.student1!.ID)">
            <img [src]="match?.student2?.Image" class="object-cover rounded-xl cursor-pointer" (click)="matchWin(this.match?.student1!.ID,this.match?.student2!.ID,this.match?.student2!.ID)">
          }
          @else {
            <img [src]="match?.student1?.Image" class="object-cover rounded-xl cursor-pointer animate-pulse" (click)="matchWin(this.match?.student1!.ID,this.match?.student2!.ID,this.match?.student1!.ID)">
            <img [src]="match?.student2?.Image" class="object-cover rounded-xl cursor-pointer animate-pulse" (click)="matchWin(this.match?.student1!.ID,this.match?.student2!.ID,this.match?.student2!.ID)">
          }
      </div>
      <p class="text-xl text-center font-bold mt-4">Choose one</p>
    </section>

  </section>

</main>
<router-outlet />
